.header-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  background: #835858;

  .logo {
    margin-left: 1em;

    .business-logo{
      height: 8em;
      width: 10em;
    }
  }

  .nav-links{

    .link-list {
      display: flex;
      flex-flow: row;
      justify-content: space-around;
      align-items: center;
      list-style: none;

      li {
        margin: 0 5px 0 5px;
        font-size: 1.5em;

        a {
          text-decoration: none;
          color: #fff0f0;
        }

        a:hover {
          cursor: pointer;
        }

        a:active{
          color: #f9813a;
        }
      }
    }
  }

  .icons{
    margin-right: 4em;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    color: #fff0f0;
  }
}
